@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* вся страница*/
    min-height: 100vh;
    background:rgb(245, 245, 236);
    background-image:url("../img/huichol-patterns-transparent.png");
    background-size:30%;
    background-repeat:repeat;
    color:rgb(54, 41, 41);
    font-family: "Inria Sans", sans-serif ;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
   font-size: 4rem; 
   font-weight: 700;
   background-color:rgba(255, 255, 255, 0.85);
   border-radius: 15px;
   padding: 1rem;
}
section{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.quote-generator{
    
    padding: 5%;
}
 .quote-container{
    font-family: "Montserrat", sans-serif ;
    margin-top: 5% auto;
    width: auto;
    max-width: 900px;
    padding: 15px 25px;
    border-radius: 12px;
    background-color:rgba(255, 255, 255, 0.85);
    box-shadow: 0 9px 8px 8px rgba(1, 1, 1, 0.3);
}

.quote-text{
    font-size: 2.7rem;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 4rem;
}

.quote-author{
    margin: 2rem auto ;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

/*****---BUTTON---*****/
.button-container{
    margin:3% 3%;
    display: flex;
    justify-content: space-between;
}
button{
  cursor: pointer;  
  font-size: 2rem;
  height: 4rem;
  border: none;
  border-radius: 9px;
  color:rgb(245, 245, 236);
  background: rgb(54, 41, 41);
  outline: none;
  padding:0.2rem 3rem;
  box-shadow: 0 0.3rem rgba(0, 0, 0, 0.3) ;
}

button:hover{
    filter: brightness(150%);
}

button:active{
    transform: translate(0.1rem , 0.1rem);
    box-shadow: 0 0.15rem rgba(255, 255, 255, 0.3);
}

.twitter-button:hover{
    color: #4290cb;
}
.fa-twitter{
   font-size: 3rem; 
}




/* Media Query: Tablets or Telefono*/
@media screen and (max-width: 1000px) {
    h1{
        font-size: 3rem;
    }
    .quote-container{
        margin: 3% 3%;
    }

    .quote-text{
        font-size: 2rem;
    }

    button{
        font-size: 1.8rem;
        height: 3.2rem;
        padding:0.2rem 2rem;
    }
    .fa-twitter{
        font-size: 2.5rem; 
     }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 2rem;
    }

    .quote-text{
        font-size: 1.8rem;
    }
    button{
        font-size: 1.4rem;
        height: 2rem;
    }

    .fa-twitter{
        font-size: 1.5rem; 
     }
}